.mon-profil-container {
    text-align: center;
    padding: 20px;
  }
  
  .profil-details {
    margin: 20px 0;
    font-size: 18px;
  }
  
  .update-button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .update-button:hover {
    background-color: #219150;
  }
  
  .message {
    margin-top: 10px;
    color: #2ecc71;
    font-weight: bold;
  }
  
  .logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  