#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2ecc71;
}

.map-button {
  background-color: #2980b9;
}

.connexion-button {
  background-color: #e74c3c;
}

.inscription-button {
  background-color: #f39c12;
}

.error-message {
  color: red;
  margin-top: 20px;
  font-weight: bold;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.weather-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  font-size: 18px;
}
